<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterMe</title>
    <link rel="icon" type="images/jpg" href="../static/uploads/images3.jpg" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    {{bootstrap.load_css()}}
</head>
<body>
    <div class="bg-image" style="background-image:url('../static/uploads/bg7.jpeg');background-repeat:no-repeat; height:200vh;">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-light min-vh-100">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="/dashboard" class="nav-link align-middle px-0 link-secondary">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="/create" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-secondary">
                                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">New Goal</span> </a>
                            </li>
                            <li>
                                <a href="/category/shopping" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-secondary">
                                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">Shopping</span></a>
                            </li>
                            <li>
                                <a href="/category/health" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-secondary ">
                                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">Health</span></a>
                            </li>
                            <li>
                                <a href="/category/working" data-bs-toggle="collapse" class="nav-link px-0 align-middle link-secondary">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">Working</span> </a>
                            </li>
                            <li>
                                <a href="/logout" class="nav-link px-0 align-middle link-secondary">
                                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline" id="nav_link">Log Out</span> </a>
                            </li>
                        </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="/dashboard/dropdown" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">{{session['first_name']}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <h1>{{ category[0]|upper}}{{category[1:] }} Goals</h1>
                <table class="table">
                    <thead>
                        <th>Title</th>
                        <th>Plan</th>
                        <th>Create Date</th>
                        <th>Achieved</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        {% for goal in goals_list %}
                        <tr>
                            <td>{{goal.title}}</td>
                            <td>{{goal.plan}}</td>
                            <td>{{goal.created_at}}</td>
                            {% if goal.achieved == None %}
                            <td>No</td>
                            {% else %}
                            <td>Yes</td>
                            {% endif %}
                            <td><a class="btn btn-light" href="/edit/{{goal.id}}">Edit</a></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>